.entry {
    width: 1rem; height: 1rem; margin: 0.25rem; border: 0.05rem dashed black;
}

.filled {
    background: blue;
}

.past {
    background: grey;
}

.future {
    background: white
}

.edit_link {
    display: block;
    height: 100%;
}