{% extends 'base.html' %}
{% set active_page = 'edit' %}

{% block header %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js" type="module"></script>
    <script type="module">
        import Tags from "https://cdn.jsdelivr.net/gh/lekoala/bootstrap5-tags@master/tags.js";

        Tags.init("select");
    </script>
{% endblock %}

{% block content %}
    <h1>{% block title %} Edit entry - {{ entry['start'] }} {% endblock %}</h1>

    <form method="post">
        <div class="mb-3">
            <label for="start" class="form-label">Start date</label>
            <div id="weekpicker">
                <input type="text" class="form-control" name="start" placeholder="Entry start date: YYYY-MM-DD"
                       value="{{ request.form['start'] or entry['start'] }}">
            </div>
        </div>

        <div class="mb-3">
            <label for="tags" class="form-label">Tags <small>(Press <kbd>↵ Return</kbd> to add new
                tag)</small></label>
            <select name="tags[]" class="form-select" multiple aria-label="multiple select example"
                    data-allow-new="true" data-allow-clear="true">
                {# Needed for first actual tag to show when selected #}
                <option selected disabled hidden value="">Choose a tag...</option>
                {% for t in tags %}
                    {% if t in entry.tags %}
                        <option selected="selected" data-badge-style="primary"
                                value="{{ t.name }}">{{ t.name }}</option>
                    {% else %}
                        <option value="{{ t.name }}">{{ t.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="note" class="form-label">Note</label>
            <textarea name="note" placeholder="Entry note"
                      class="form-control">{{ request.form['note'] or entry['note'] }}</textarea>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
    <hr>
    <form action="{{ url_for('delete_entry', entry_id=entry['id']) }}" method="POST">
        <input type="submit" value="Delete entry" class="btn btn-danger btn-sm"
               onclick="return confirm('Are you sure you want to delete this entry?')">
    </form>

    <script>
        $('#weekpicker').datepicker({
            format: "yyyy-mm-dd",
            maxViewMode: 3,
            weekStart: 1,
            daysOfWeekDisabled: "0,2,3,4,5,6",
            daysOfWeekHighlighted: "1",
            calendarWeeks: true,
            datesDisabled: {{ disabled_dates | safe }}
        });
    </script>
{% endblock %}