{% extends 'base.html' %}
{% set active_page = 'settings' %}

{% block content %}
<h1>{% block title %} Edit settings {% endblock %}</h1>

<form method="post">
    <div class="mb-3">
        <label for="birth" class="form-label">Date of birth</label>
        <input type="date" name="birth" placeholder="YYYY-MM-DD"
               class="form-control" value="{{  request.form['start'] or birth }}">
        </input>
    </div>

    <div class="mb-3">
        <label for="exp_years" class="form-label">Life expectancy</label>
        <input type="text" name="exp_years" placeholder="Number of years"
               class="form-control" value="{{  request.form['category'] or exp_years }}">
        </input>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

<hr>
<form action="{{ url_for('delete_user', user_id=current_user.id) }}" method="POST">
    <input type="submit" value="Delete user" class="btn btn-danger btn-sm"
           onclick="return confirm('Are you sure you want to delete your account, as well as all associated entries? WARNING: This action is irreversible!')">
</form>
{% endblock %}